<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <title>Pokedex</title>
</head>

<body>
    <div class="container">
        <h1>Add a New Pokemon</h1>
        <form action="/pokemon" method="POST">
            <input type="text" name="name" placeholder="Name"><br>
            <input type="text" name="img" placeholder="Image URL"><br>
            <input type="text" name="type" placeholder="Type" /><br>
            <input type="text" name="type" placeholder="Type" /><br>
            <input type="text" name="stats[hp]" placeholder="hp" /><br>
            <input type="text" name="stats[attack]" placeholder="attack" /><br>
            <input type="text" name="stats[defense]" placeholder="defense" /><br>


            <input type="submit" value="Create Pokemon">
        </form>
        <a href="/pokemon"><button>Return to Pokedex</button></a>
    </div>
</body>

</html>